<a href="https://colab.research.google.com/github/aankit/nycdoe_space_analysis/blob/master/DOE_Space.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Understanding the Physical Space of the Largest School District in the United States

New York City has the largest school district in the country based on the number of students it serves. The COVID-19 pandemic has asked us all to be more cognizant of our physical space whether it be staying 6 feet apart in public or staying sane at home, especially if you live in a tiny NYC apartment.

###How much physical space does each student have in NYC schools? How does the space per student differ between schools and is there a potential disparate impact? 

Feel free to reach out to me at hi@aankit.com if you have questions or thoughts.

###Question 1: Does publicly available data about the physical space of schools exist?

###Answer: Yes! Below I point out and load up some data sources for my analysis.

First I'm going to install and load some helpful tools :)

In [ ]:
!pip install geopandas

In [ ]:
from __future__ import print_function
import requests
import pandas as pd
import io
import geopandas as gpd

DOE Building Space Usage is available on the NYC Open Data Portal [here](https://data.cityofnewyork.us/Education/DOE-Building-Space-Usage/wavz-fkw8). I'm using the CSV because the [JSON API endpoint](https://data.cityofnewyork.us/resource/wavz-fkw8.json) only yields 1000 rows at a time I don't feel like writing a loop to page through.

In [ ]:
response = requests.get("https://data.cityofnewyork.us/api/views/wavz-fkw8/rows.csv?accessType=DOWNLOAD")
school_space = pd.read_csv(io.StringIO(response.text))

Attendance history will give us a somewhat accurate picture of how many students are in each building.

In [ ]:
response = requests.get("https://data.cityofnewyork.us/api/views/vww9-qguh/rows.csv?accessType=DOWNLOAD")
attendance_history = pd.read_csv(io.StringIO(response.text))

We will need more information schools - like what grades they serve and where they are located for a proper analysis. 

DOE School Information is available via a file called "LCGMS" [here](https://data.cityofnewyork.us/Education/LCGMS-DOE-School-Information-Report/3bkj-34v2). I'm using the [CSV with additional geocoded fields](https://data.cityofnewyork.us/api/views/3bkj-34v2/files/56813139-9b9d-44fb-b81d-068553b7a9b7?download=true&filename=LCGMS_SchoolData(additional%20geocoded%20fields%20added).csv)

In [ ]:
response = requests.get("https://data.cityofnewyork.us/api/views/3bkj-34v2/files/56813139-9b9d-44fb-b81d-068553b7a9b7?download=true&filename=LCGMS_SchoolData(additional geocoded fields added).csv")
lcgms = pd.read_csv(io.StringIO(response.text))

And finally we will want to look at all of this on a map, so let's load a geospatial file of school zones from [here](https://data.cityofnewyork.us/Education/2019-2020-School-Zones-Elementary-/kuk3-ypca). I'm using the shapefile.

This is only relevant for elementary schools (and maybe some middle schools).

In [ ]:
response = requests.get("https://data.cityofnewyork.us/api/geospatial/kuk3-ypca?method=export&format=GeoJSON")
school_zones = pd.DataFrame(response.json())

###Question 2: What areas of a school are instructional areas?

The data dictionary provided by the School Construction Authority on the  NYC Open Data Portal is helpful. It tells us that the DOE Building Space data we pulled in and named `school_space` has a `Room Function` column, or field. Let's get a count of the values in the `Room Function` field.

In [ ]:
school_space["Room Function"].value_counts()

REGULAR CLASSROOM                70581
STORAGE ROOM                     46699
OTHER OFFICE                     36936
GENERAL BUILDING SUPPORT         31838
REGULAR CLASSROOM - MS GRADES    19807
                                 ...
ELEVENTH GRADE                      94
GYM/AUD/CAFETERIA                   89
DRAFTING ROOM                       73
TWELFTH GRADE                       51
NEST NINTH-TWELFTH GRADE            13
Name: Room Function, Length: 109, dtype: int64

Based on this quick overview, if `Room Function` contains the word "classroom" or "grade" it can probably be classified as an instructional space.

In [ ]:
instructional_school_space = school_space[school_space["Room Function"].str.contains("CLASSROOM|GRADE", na=False)]
instructional_school_space["Room Function"].value_counts()

REGULAR CLASSROOM                   70581
REGULAR CLASSROOM - MS GRADES       19807
D75 SPED CLASSROOM                  15482
NON-D75 SPED CLASSROOM              15481
FIRST GRADE                         13521
SECOND GRADE                        12696
THIRD GRADE                         12193
FOURTH GRADE                        11622
FIFTH GRADE                         11369
ICT - ELEMENTARY SCHOOL GRADES      10215
REGULAR CLASSROOM - HS GRADES        3813
MULTI-PURPOSE CLASSROOM              2544
SCIENCE CLASSROOM FOR PS             2028
SIXTH GRADE                          1644
ICT - MIDDLE SCHOOL GRADES           1558
SEVENTH GRADE                        1526
EIGHTH GRADE                         1482
MULTI-PURPOSE NON CLASSROOM          1177
NEST FIRST-THIRD GRADE                452
ICT - HIGH SCHOOL GRADES              424
NEST SIXTH-EIGHTH GRADE               407
NEST FOURTH-FIFTH GRADE               248
NINTH GRADE                           236
HORIZON SECOND-TWELFTH GRADE          216
MULTI-PURPOSE (NON CLASSROOM)         178
TENTH GRADE                           133
HORIZON KINDERGARTEN-FIRST GRADE       95
ELEVENTH GRADE                         94
TWELFTH GRADE                          51
NEST NINTH-TWELFTH GRADE               13
Name: Room Function, dtype: int64

Let's take a look at the square footage of this instructional space. This view is aggregating across schools. The next step is to drill down to the school level before we link schools to the communities they serve.

In [ ]:
instructional_school_space.groupby("Room Function").sum()

                                     Length      Width        Area
Room Function
D75 SPED CLASSROOM                 372679.0   345510.0   8302789.0
EIGHTH GRADE                        37973.0    40526.0   1031246.0
ELEVENTH GRADE                       2529.0     2424.0     64696.0
FIFTH GRADE                        281419.0   300719.0   7362002.0
FIRST GRADE                        339764.0   352957.0   8773473.0
FOURTH GRADE                       287273.0   306075.0   7479172.0
HORIZON KINDERGARTEN-FIRST GRADE     2509.0     2243.0     58305.0
HORIZON SECOND-TWELFTH GRADE         5293.0     5087.0    127132.0
ICT - ELEMENTARY SCHOOL GRADES     255937.0   269540.0   6657939.0
ICT - HIGH SCHOOL GRADES            11298.0    10321.0    275810.0
ICT - MIDDLE SCHOOL GRADES          39847.0    41608.0   1054611.0
MULTI-PURPOSE (NON CLASSROOM)        6833.0     5619.0    246310.0
MULTI-PURPOSE CLASSROOM             68265.0    66168.0   1848198.0
MULTI-PURPOSE NON CLASSROOM         49388.0    38154.0   1819547.0
NEST FIRST-THIRD GRADE              11076.0    11788.0    286340.0
NEST FOURTH-FIFTH GRADE              6080.0     6713.0    163211.0
NEST NINTH-TWELFTH GRADE              326.0      345.0      8582.0
NEST SIXTH-EIGHTH GRADE             10400.0    10289.0    260266.0
NINTH GRADE                          6424.0     5925.0    161984.0
NON-D75 SPED CLASSROOM             365367.0   355332.0   8349564.0
REGULAR CLASSROOM                 1901768.0  1779814.0  47734113.0
REGULAR CLASSROOM - HS GRADES      103691.0    96231.0   2600965.0
REGULAR CLASSROOM - MS GRADES      506534.0   517670.0  13123663.0
SCIENCE CLASSROOM FOR PS            51647.0    54477.0   1365878.0
SECOND GRADE                       313395.0   332399.0   8118814.0
SEVENTH GRADE                       39299.0    41212.0   1056142.0
SIXTH GRADE                         42129.0    44198.0   1125647.0
TENTH GRADE                          3694.0     3584.0    100590.0
THIRD GRADE                        301141.0   320391.0   7827933.0
TWELFTH GRADE                        1292.0     1242.0     31873.0

###Question 3: Can we determine each school's square footage per person?

The `Contributing 20+ Total Days` field in `attendance_history` tells us how many students spend 20 or more days at the each school. This slightly inflates attendance numbers, but also captures the fact that NYC schools deal with fluctuating attendance due to students joining and leaving.

We can focus on the most recent year's attendance, but there are numbers going back to 2013-14 allowing for historical analysis. Finally the data also provides attendance by grade and demographic category, but again for simplicity we can look at the aggregate of all students for the school.

In [150]:
attendance = attendance_history[(attendance_history["Year"].eq("2018-19")) & (attendance_history["Grade"].eq("All Grades")) & (attendance_history["Demographic Category"].eq("All Students"))]
attendance["DBN"].head(15)

06M366    1
26Q205    1
23K284    1
30Q085    1
18K235    1
         ..
08X559    1
17K531    1
26Q133    1
09X231    1
08X376    1
Name: DBN, Length: 1526, dtype: int64

Let's take some columns from `attendance_history` and combine it with the `instructional_school_space` and do a calculation of square foot per student.

In [151]:
instructional_space_by_school = instructional_school_space.groupby("Org Code").sum()
iss_lcgms = pd.merge(instructional_space_by_school, lcgms, left_on="Org Code", right_on="Location Code")
all_data = pd.merge(iss_lcgms, attendance, left_on="ATS System Code", right_on="DBN")
all_data.head()

   Length   Width  ...  # Chronically Absent % Chronically Absent
0  5203.0  4881.0  ...                   215                 17.3
1  3850.0  2885.0  ...                    97                 19.6
2  2069.0  3007.0  ...                   169                 43.1
3  6980.0  7198.0  ...                   185                 52.9
4  2171.0  2871.0  ...                   123                 50.4

[5 rows x 60 columns]

This is a lot of really good data in one place!

Stay focused :) Let's calculate a column, Sq Ft. Per Student, for each school using this formula: `Area / (# Contributing 20+ Total Days * % Attendance)`

In [189]:
#num_contributing_20plus_total_days
all_data.columns = all_data.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '').str.replace('%', 'perc').str.replace('#', 'num').str.replace('+', 'plus')
all_data["sq_ft_per_student"] = all_data.area / (all_data.num_contributing_20plus_total_days.astype(int) * (all_data.perc_attendance.astype(float)/100))
all_data[["dbn", "sq_ft_per_student"]].sort_values("sq_ft_per_student").head(25)

         dbn  sq_ft_per_student
1462  11X481          19.792045
1504  08X583          27.682813
455   22K889          30.367123
1040  26Q376          31.186364
607   02M297          32.050020
1041  27Q377          32.638033
1038  30Q361          32.843453
1037  29Q360          33.195165
1144  31R068          34.899139
310   19K422          44.836453
1451  12X458          48.587101
595   02M280          49.005952
1224  10X077          49.426845
1030  28Q349          52.451638
1047  28Q440          52.508251
391   17K590          52.728987
1404  11X357          55.212576
1064  24Q530          55.706449
1398  08X348          56.582267
336   20K490          56.605639
687   03M485          56.657797
1059  30Q501          57.303467
303   22K405          57.628042
596   02M281          58.142178
1045  26Q430          58.361489

In [191]:
all_data.to_excel("space_analysis.xlsx")
from google.colab import files
files.download('space_analysis.xlsx')

### Question 4: Can we map each school's square footage per person to get an idea of the impact on different communities?